#header h2 {
  text-align: right;
  margin: 0 4em 0 0;
}

#header {
  padding: 1em;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 9%,
    rgba(255, 215, 0, 0.7161065109637605) 51%
  );
}
