#loadMore {
  padding: 1em 4em;
  border-radius: 5px;
  color: white;
  border: none;
  background-color: rgb(237, 151, 59);
  font-size: larger;
  text-shadow: 1px 1px black;
  margin: 1em 6em 1em 0;
}

@media only screen and (max-width: 600px) {
  #loadMore {
    margin: 0;
  }
} ;
